
@{
    ViewBag.Title = "Orientação API";
}

<div>

    <div><h1> Orientação de uso da API</h1></div>
    <br />
    O projeto possui 3 webservices:<br />
    - Listar Ingredientes.<br />
    - Listar Categorias<br />
    - Listar Usuários<br />
    <br />

    <h4> Acessando o webservice MakePizza: </h4>
    Para acessar a lista de Ingredientes coloque em sua barra de navegação: <br />
    "Seu local host"/API/Cadastros/Ingredientes<br /><br />
    Para acessar a lista de Categorias coloque em sua barra de navegação: <br />
    "Seu local host"/API/Cadastros/Categorias<br /><br />
    Para acessar a lista de Usuários coloque em sua barra de navegação: <br />
    "Seu local host"/API/Cadastros/Usuarios<br /><br />

</div>